<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Title</title>
	{% include "header.html" %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'carou.js' %}">
	<link rel="stylesheet" href="C:\Users\skywa\Desktop\VSc\css">
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!--자바스크립트	-->
	<script type="text/javascript" >


    </script>

	<!--  스타일-->
	<style>



	</style>


</head>
<body>





</body>
{% include "footer.html" %}
</html>