<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        {% include "header.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style4.css' %}">
    <link rel="stylesheet" href="C:\Users\skywa\Desktop\VSc\css">
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <style>
    @font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 *{
            font-family: 'EliceDigitalBaeum_Bold';
        }
        /* 캐러셀 버튼의 그라데이션 없애기 */

        .carousel-control{background : none !important;}

  </style>
</head>
<body style="background-color:black;">
<div class="container">
    <div class="col-lg-3" style="color:white">
        <a href="index"><img src="{%static '6.jpg' %}" width="150px"></a>
    </div>
    <div class="col-lg-5" style="color:white">
        <table style="margin-top:30px; border-spacing : 10px; font-size : 18px">
            <tr>
                <td width="150">고객센터</td>
                <td width="150">000-0000-0000</td>
            </tr>
            <tr>
                <td>이메일</td>
                <td>qweqwe@naver.com</td>
            </tr>
            <tr>
                <td>홈페이지 소개</td>
                <td>제품 소개</td>
            </tr>
            <tr>
                <td>찾아 오시는 길</td>
                <td> 대표자 :TUT</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-4" style="color:white">
        <table style="margin-top:50px; border-spacing:10px;">
            <tr>
                <td style="padding:10px"> <img src="{% static '인스타그램1.png' %}" width="50px"></td>
                <td style="padding:10px"> <img src="{% static '트위터1.png' %}" width="50px"></td>
                <td style="padding:10px"> <img src="{% static '카카오톡.png' %}" width="50px"></td>
                <td style="padding:10px"> <img src="{% static '페이스북.png' %}" width="50px"></td>
            </tr>
        </table>
    </div>
</div>
<div style="width:1300px; height:150px;  float:left; margin:0px 300px">
    <div class="col-lg-5" style="color:white; ">
        <font size="7" style="word-break:nowrap">
            There's always <br>us in the game.
        </font>
    </div>
</div>
<div style="width:1300px; height:150px;  float:left; padding:0px 100px 0px 800px; margin:-100px 0px 0px" id="sg">
    <div class="col-lg-5" style="color:white; width:800px; height:150px;  ">
        <font size="3" style="word-break:nowrap">
            <br>우리는 게임의 각 정보를 수집하고 유저분들이 이용하시기 편할수 있도록
            사이트를 만들었습니다.<br>앞으로 올라오는 신상게임들,인디게임들,개발자들과의 짧은 만남,순위별 평가와 GOTY를 확인할수 있을겁니다.<br>
            물론 스트리머들이나 유저,리뷰어들의 리뷰도 감상하며 게임을 느낄수도 있겠죠.<br> 저희는 게임과 엮인 이런저런 정책의 소식도 올릴 예정입니다.<br>
            앞으로도 여러가지가 추가될 예정이니 많은 관심 부탁드립니다 감사합니다.
        </font>
    </div>
</div>

</body>
</html>