<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Title</title>

	{% include "header.html" %}
	{% load static %}
	<link rel="stylesheet" href="{% static 'style3.css' %}">
	<link rel="stylesheet" href="C:\Users\skywa\Desktop\VSc\css">
	<!-- 합쳐지고 최소화된 최신 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

	<!-- 부가적인 테마 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


	<!--  스타일-->
	<style>
        @font-face {
            font-family: 'EliceDigitalBaeum_Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: 'EliceDigitalBaeum_Bold';
        }

        /* 캐러셀 버튼의 그라데이션 없애기 */

        .carousel-control {
            background: none !important;
        }


	</style>


</head>

<body style="background-color:black;">

<div>
	<a href="http://127.0.0.1:8000/index#"> <img src="{% static '7.jpg' %}"
												 style="display: block; margin: 10px  300px 20px 300px" width="150px">
	</a>
</div>
<div class="se-area">
	<input type="text" id="se" name="se" placeholder="검색어 입력" style="width:348px; height:38px;">
	<button class="seb">검색</button>
</div>
<!--상단 메뉴-->
<div class="container">
	<ul class="nav navbar-white navbar-right">
		<li><a href="login" style="margin:0px 0px 0px 900px; padding:0px; color:white" id="id">로그인</a></li>
		<li><a href="signup" style="margin:0px 0px 0px 900px; padding:0px;   color:white" id="su">회원가입</a></li>
	</ul>
</div>


<nav class="navbar navbar-default" style="font-color:text-white">
	<div class="container">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
				aria-expanded="false" aria-controls="navbar">
			<span class="sr-only"> toggle</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div id="menu">
			<ul>
				<li><a href="#">뉴스</a>
					<ul>
						<li><a href="#">전체</a></li>
						<li><a href="#">온라인</a></li>
						<li><a href="#">이번달 핫이슈</a></li>
						<li><a href="#">비디오</a></li>
						<li><a href="#">PC</a></li>
						<li><a href="#">VR</a></li>
					</ul>
				</li>
				<li><a href="#">특집</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
				<li><a href="#">게임정보</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
				<li><a href="#">모바일</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
				<li><a href="#">웹게임</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
				<li><a href="#">고객센터</a>
					<ul>
						<li><a href="#">SUB_MENU</a></li>
						<li><a href="#">SUB_MENU2</a></li>
						<li><a href="#">SUB_MENU3</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<a href="https://www.allaboutpc.co.kr/Event/EventInfoView.asp?IdxEventInfo=342"><img src="{% static '11.png' %}"
																					 style="margin: 0px 350px"
																					 id="banner"></a>
<!--<a href="http://flexr.kingkongsoft.kr/simplejoin/"><img src="{% static '12.png' %}" width="100px"-->
<!--														style="margin:10px 10px 30px"></a>-->

<div class="container"  >

	  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" style="margin:30px 0px 0px -625px" >
	      <ol class="carousel-indicators">
	          <li data-target="#myCarousel" data-sile-to = "0" class="active" ></li>
	          <li data-target="#myCarousel" data-sile-to = "1"></li>
	          <li data-target="#myCarousel" data-sile-to = "2"></li>
	          <li data-target="#myCarousel" data-sile-to = "3"></li>
	          <li data-target="#myCarousel" data-sile-to = "4"></li>
	      </ol>
	<!--        사진넣기-->
	      <div class="carousel-inner"  >
	          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}" id="carou" >
	              <img src="{% static '1.png' %}"  class="img-responsive center-block" width="600" height="100">
	          </div>
	          <div class="item">
	            <a href="tetrible"><img src="{% static '10.jpg' %}"  class="img-responsive center-block"></a>
	          </div>
	          <div class="item">
	              <img src="3.png"  class="img-responsive center-block">
	          </div>
	          <div class="item">
	              <img src="4.png" class="img-responsive center-block">
	          </div>
	          <div class="item">
	              <img src="5.png" class="img-responsive center-block">
	          </div>

	          <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="margin:0px 0px 0px 0px">
	              <span class="glyphicon glyphicon-chevron-left"></span>
	          </a>
	          <a class="right carousel-control" href="#myCarousel" data-slide="next" style="margin:0px 0px 550px 0px" >
	               <span class="glyphicon glyphicon-chevron-right"></span>
	          </a>
	      </div>
		  <img src="{% static '5.jpg' %}" width="200" height="300" style="margin:20px 100px 0px 0px;" align="right">
</div>
</div>
</body>
</html>