<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

      <style>
    @font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 *{
            font-family: 'EliceDigitalBaeum_Bold';
        }
        /* 캐러셀 버튼의 그라데이션 없애기 */

        .carousel-control{background : none !important;}
  </style>


</head>
<body>
{% load static %}

<div class="container">

<!--    하나의 container 12조각-->
    <img src="intro3.png" width="10%">
    <div class="col-lg-6">
        <h3>음악이 필요한순간 멜론</h3>
        <p>멜론은 멜론컴퍼니에서 운영하는 2004년 11월에 서비스를 시작한 대한민국의 유료 음원 서비스로
        현재 업계 최고의 점유율을 자랑하고 있고 음원 사이트의 대명사로 불리며 아이돌 팬덤들 사이에서 가장 중요한 사이트로 꼽히고 있다</p>
    </div>
    <div class="col-lg-6">
        <img src="intro6.png" width="100%">
    </div>
</div>

    <div class="container">
        <div class="col-lg-6">
            <h3>멜론</h3>
            <p>Melody+On을 합쳐서 MelOn으로 지었다고 한다 SKT측에서 쉽게 기억할 수 있으면서 음악과 연관있는 이름을 원했고 이로 인해 탄생된 것이 멜론이다. 과일 형태의 시그니처 및 카피 등은 브랜드 명칭이 정해진 이후에 만들어졌다</p>
        </div>
        <div class="col-lg-6">
            <img src="intro1.jpg" width="10%">
        </div>
    </div>

</body>
</html>