<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
     crossorigin="anonymous"></script>

</head>
<body>

    <section class="login-form">
        <h1><a href="index"> TUT LOGIN</a></h1>
        <form action="http://127.0.0.1:8000/index?id=asdasd&pw=asd">
            <div class="int-area">
                <input type="text" name="id" id="id"
                autocomplete="off" required>
                <label for="id">USER NAME</label>
            </div>
            <div class="int-area">
                <input type="password" name="pw" id="pw"
                autocomplete="off" required>
                <label for="id">PASSWORD</label>
            </div>
            <div class="btn-area">
                <a href="index"><button type="submit">LOGIN</button></a>
            </div>
        </form>
        <div class="caption">
            <a href="">비밀번호를 잊었습니까?</a>
        </div>
    </section>
</body>

</html>

